@font-face{
  font-family: bernierShade;
  src: url('../../assets/Fonts/berniershade-regular.otf');
}

@font-face{
  font-family: explodeOutline;
  src: url('../../assets/Fonts/ExplodeOffsetOutline.otf');
}
  
.main-menu {
  text-align: center;
  background-image: url('../../assets/backgroundSVGv.svg');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#AST{
  position: relative;
  left: -25%;
}
#three-d{
  padding: 0;
  margin: 0;
  position: absolute;
  padding-left: 0px;
  font-family: explodeOutline;
  left: 62.5%;
  top: 35%;
  font-size: 10em;
  color:#11FFEE;
  font-weight: bold;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 92px #11FFEE,
    0 0 102px #11FFEE,
    0 0 151px #11FFEE;
}

#AST :nth-child(1){
  stroke-dasharray: 917;
  stroke-dashoffset: 917;
  animation: draw 2s ease forwards;
}
#AST :nth-child(2){
  stroke-dasharray: 917;
  stroke-dashoffset: 917;
  animation: draw 2s ease forwards 0.5s;
}
#AST :nth-child(3){
  stroke-dasharray: 917;
  stroke-dashoffset: 917;
  animation: draw 2s ease forwards 1s;
}
#AST :nth-child(4){
  stroke-dasharray: 917;
  stroke-dashoffset: 917;
  animation: draw 2s ease forwards 1.5s;
}
#AST :nth-child(5){
  stroke-dasharray: 917;
  stroke-dashoffset: 917;
  animation: draw 2s ease forwards 2s;
}
#AST :nth-child(6){
  stroke-dasharray: 917;
  stroke-dashoffset: 917;
  animation: draw 2s ease forwards 2.5s;
}

@keyframes draw{
to{
  stroke-dashoffset: 0;
}
  
}

@keyframes fillColor{
  from{
      fill: transparent;
  }
  to{
    fill: #db3eb1;
  }
    
}

.buttonOne {
  position: absolute;
  top: 71%;
  left: 35%;
  color: white;
  border: 6px solid #db3eb1;
  border-radius:15px;
  padding: 10px 25px;
  font-size: 40px;
  font-family: bernierShade;
  letter-spacing:5px;
  cursor: pointer;
  filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(2);
  transition: .5s;
}

.buttonOne:hover {
  color: black;
  background-color: #db3eb1;
  filter: drop-shadow(0 0 20px #db3eb1) contrast(2) brightness(2);
}

.buttonTwo {
  position: absolute;
  top: 71%;
  left: 50%;
  color: white;
  border: 6px solid #11FFEE;
  border-radius:15px;
  padding: 10px 25px;
  font-size: 40px;
  font-family: bernierShade;
  letter-spacing:5px;
  cursor: pointer;
  filter: drop-shadow(0 0 15px #11FFEE) drop-shadow(0 0 50px #11FFEE) contrast(2) brightness(2);
  transition: .5s;
}

.buttonTwo:hover {
  color: black;
  background-color:#11FFEE;
  filter: drop-shadow(0 0 20px #11FFEE) contrast(2) brightness(2);
}

.buttonThree {
  position: absolute;
  top: 85%;
  color: white;
  border: 6px solid lightseagreen;
  border-radius:15px;
  padding: 10px 25px;
  font-size: 40px;
  font-family: bernierShade;
  letter-spacing:5px;
  cursor: pointer;
  filter: drop-shadow(0 0 15px lightseagreen) drop-shadow(0 0 50px lightseagreen) contrast(2) brightness(2);
  transition: .5s;
}

.buttonThree:hover {
  color: black;
  background-color: lightseagreen;
  filter: drop-shadow(0 0 20px lightseagreen) contrast(2) brightness(2);
}