@font-face{
    font-family: bernierShade;
    src: url('../berniershade-regular.otf');
}

.instructMainPage{
    background-color: #280034;
    background-size: cover;
    height: 100vh;
    display: flex;
    
}
:root{
    --gradient: linear-gradient(
        360deg,
        #db3eb1,
        #9c02d9,
        #491bf2,
        #05adf5,
        lightseagreen
    );
}

.containerOuter{
    position: relative;
    margin: 18vh 8vh;
    min-width: 35vh;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid;
    border-image: var(--gradient) 1;
}

.containerInner{
    position: absolute;
    min-width: 30vh;
    min-height: 65vh;
    border: 5px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-image: var(--gradient) 1;
}


.mainMenuButton {
    position: absolute;
    top: 7vh;
    left: 13.5vh;
    color: white;
    border: 6px solid #db3eb1;
    border-radius:15px;
    padding: 10px 25px;
    font-size: 3vh;
    font-family: bernierShade;
    letter-spacing:5px;
    cursor: pointer;
    filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(2);
    transition: .5s;
}

.mainMenuButton:hover {
    color: black;
    background-color: #db3eb1;
    filter: drop-shadow(0 0 20px #db3eb1) contrast(2) brightness(2);
}


.tabButton{
    font-family: bernierShade;
    color: white;
    font-size: 4.3vh;
    padding-top: 4vh;
    text-align: center;
}

.tabButton:hover{
    cursor: pointer;
    color: aquamarine;
    text-decoration: underline;
    
}

