.navBar{
    background-color: blueviolet;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.menuBar{
    margin-left: 2rem; 
    font-size: 2rem;
    background: none;
}
.navMenu{
    background-color: darkviolet;
    width: 250px;
    height: 100vh; 
    display: flex;
    justify-content: center;
    position: fixed;
    transition: 850ms; 
    
}
.navMenu-active{
    left: 0; 
    transition: 350ms;

}
.navText{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;

}
.navText-a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    width: 95%; 
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}
.navText-a:hover{
    background-color: blue;

}
.nav-menu-items{
    width: 100px;
}
.navbar-toggle{
    background-color: darkviolet;
    width: 100%; 
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}
span{
    margin-left: 16px;
}
.message-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .message-button button {
    border-radius: 50px; /* make the button round */
    background-color: #F2F2F2; /* set the background color */
    color: #333; /* set the text color */
    font-size: 20px; /* set the font size */
    padding: 10px 20px; /* add some padding to the button */
    display: flex; /* use flexbox to center the emoji */
    align-items: center;
    justify-content: center;
  }
  
  .message-button button span {
    margin-right: 5px; /* add some space between the emoji and text */
  }
  .nav-link-text {
    font-size: 1rem; /* adjust the font size as desired */
    font-weight: bold;
    color: white;
  }
  .header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .message-icon-container {
    display: flex;
    align-items: center;
    margin-right: 20px; /* adjust the margin as needed */
  }
  
  .message-icon-container svg {
    margin-right: 5px; /* adjust the margin as needed */
  }